.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container__product{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.container__product__img{
    width: 150px;
    height: 150px;
}
.container__product__img > img{
    width: 100%;
}