.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.container__welcome {
  font-size: 32px;
  color: #333;
  margin-bottom: 10px;
}

.container__description {
  font-size: 16px;
  color: #666;
}
