.product{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.product__avatar{
    display: block;
}
.product__avatar > img{
    height: 200px;
    width: 200px;
}
.product__title{
    margin: -5px 0;
}

.product__button{
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background: #2ddf5c;
    cursor: pointer;
}
.product__button:hover{
    background: #106c28;
}